<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/classes/category.css"/>
<title>Insert title here</title>
</head>
<body>
	<div class="side-bar">
		<div th:replace="~{views/menu-bar.html}"></div>
	</div>
	
    <section>
<!--         <div class="write" th:if="${session.loginUser != null && session.loginUser.admin == 'Y'}"> -->
<!--             <img src="/photo/classes/write.png"/> -->
<!--         </div> -->
        <div class="class-list">
            <div class="class-elements">
                <div class="class-element" th:each="lec : ${list}">
                	<input type="hidden" name="lectureNo" th:value="${lec.lecNo}">
                	<th:block th:each="i:${iList}" th:if="${lec.lecNo eq i.refLecNo}">
                    <div class="image-box">
                        <img th:if="${#strings.containsIgnoreCase(i.imgRename, 'jpg') or #strings.containsIgnoreCase(i.imgRename, 'png')}" th:src="@{/}+${i.imgRename}" class="image-thumbnail">
                        <img th:unless="${#strings.containsIgnoreCase(i.imgRename, 'jpg') or #strings.containsIgnoreCase(i.imgRename, 'png')}" src="/photo/classes/example.png" class="image-thumbnail">
                    </div>
                    </th:block>
                    <div class="element-title">
                        <p>[[${lec.lecTitle}]]</p>
                        <p>[[${lec.cgName}]]</p>
                    </div>
                    <div class="bookmark" th:if="${lec.bookmarkCheck == 'Y'}">
                   		<input type="hidden" name="lectureNo" th:value="${lec.lecNo}">
                   		<input type="hidden" name="lecturebookmarkCheck" th:value="${lec.bookmarkCheck}">
                        <img src="/photo/classes/Bookmark-icon2.png" class="image-bookmark"/>
                    </div>
                    <div class="bookmark" th:if="${lec.bookmarkCheck == 'N'}">
                   		<input type="hidden" name="lectureNo" th:value="${lec.lecNo}">
                   		<input type="hidden" name="lecturebookmarkCheck" th:value="${lec.bookmarkCheck}">
                        <img src="/photo/classes/bookmark-icon.png" class="image-bookmark"/>
                    </div>
                    <br><br>
                    <div class="option-list">
                        <div class="options">
                            <p>[[${lec.totalChap}]]</p>
                            <p>Chpater</p>
                        </div>
                        <div class="options">
                            <p>[[${lec.progressRate == 0 ? "X" : lec.progressRate + "%"}]]</p>
                            <p>Percent</p>
                        </div>
                        <div class="options">
                            <p>[[${lec.svgRate == 0 ? "X" : lec.svgRate}]]</p>
                            <p>Rating(5)</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <script th:inline="javascript">
    	window.onload= () =>{
    		const elements = document.getElementsByClassName("class-element");
    		const bookmarks = document.getElementsByClassName("bookmark");
    		const loginUser = /*[[${session.loginUser != null}]]*/1;
    		console.log(loginUser);
    		
    		
    		for(const element of elements){
    			const lecNo = element.children[0].value
    			element.addEventListener('click', ()=>{
    				location.href= "/lecture/" + lecNo;
    				
    			});
    		}
    		
    		for(const bookmark of bookmarks){
    			const bookmarkCheck = bookmark.children[1].value
    			bookmark.addEventListener('click', (event)=>{
    				if(loginUser){
    					const lecNo = bookmark.children[0].value
    					if(bookmarkCheck == "N"){
    						$.ajax({
            					url: "/lecture/insertBookmark",
           						data: {lecNo:lecNo},
           		            	 success: data=>{
           		            		 if(data = 1){
           		            			 alert("현재 강의를 북마크에 등록하였습니다");
           		            			 location.reload(true);
           		            		 }
           		            	 },
           		            	 error: data=> console.log(data)
           		             }) 
    					}else if(bookmarkCheck == "Y"){
    						$.ajax({
            					url: "/lecture/deleteBookmark",
           						data: {lecNo:lecNo},
           		            	 success: data=>{
           		            		 if(data = 1){
           		            			 alert("현재 강의를 북마크에 해제하였습니다");
           		            			 location.reload(true);
           		            		 }
           		            	 },
           		            	 error: data=> console.log(data)
           		             }) 
    					}
    				}else{
    					alert("로그인을 해야 북마크가 가능합니다");
    				}
    				

    				event.stopPropagation();
    			})
    		}
    	}
    </script>
    
</body>
</html>